.unread-message {
    background-color: gainsboro;
}

.notifyjs-incoming-base {
    opacity: 0.85;
    width: 200px;
    background: #26a69a;
    padding: 5px;
    border-radius: 10px;
}

.notifyjs-incoming-base .photo {
    width: 50px;
    float: left;
    text-align: right;
}

.notifyjs-incoming-base .incoming-content {
    color: whitesmoke;
    width: 130px;
    float: right;
    font-size: 12px;
}